@model IEnumerable<UserListDto>

@{
    ViewData["Title"] = "Users";
}

<h1>Users</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>User Type</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Name</td>
                <td>@user.Surname</td>
                <td>@user.Email</td>
                <td>@user.UserTypeName</td>
                <td>
                    <a href="@Url.Action("Details", "User", new { id = user.Id })" class="btn btn-primary btn-sm">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Create", "User")" class="btn btn-success">Add New User</a>
